<header class='c-header'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--3-4-s'>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>Sharon Lin</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--1-8-s'>
            <div class='c-logo-light u-text-right'>
              <a class='c-logo-light__link' href='{{ site.baseurl }}/projects'>Projects</a>
            </div>
          </div>

          <div class='o-grid__col o-grid__col--1-8-s'>
            <div class='c-logo-light u-text-right'>
              <a class='c-logo-light__link' href='{{ site.baseurl }}/resume'>Resume</a>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</header>