<!DOCTYPE html>
<html>

  {% include head.html %}


  {% if site.theme_mode == 'markdown' %}
  <body class="hack">
  {% elsif site.theme_mode == 'standard' %}
  <body class="standard">
  {% elsif site.theme_mode == 'dark' %}
  <body class="hack dark">
  {% endif %}

    <div class="container" style="margin-top:2%;">
      <div class="grid">
        <aside class="cell -3of12" role="navigation">
          {% include navigation.html %}
        </aside>

        <main class="cell -8of12" style="margin-left:3%;"> 
          {{ content }}
        </main>
      </div>

    
      {% include footer.html %}
    </div>

    
  </body>

</html>
